#include "version.h"
#include <ntverp.h>
#include <windows.h>

VS_VERSION_INFO VERSIONINFO FILEVERSION MY_VERSION_COMMA_STRING PRODUCTVERSION MY_VERSION_COMMA_STRING FILEFLAGSMASK
    VS_FFI_FILEFLAGSMASK FILEOS VOS__WINDOWS32 FILETYPE VFT_DLL FILESUBTYPE VFT2_UNKNOWN BEGIN BLOCK
    "StringFileInfo" BEGIN BLOCK "040904e4" BEGIN VALUE "Comments",
    MY_VERSION_COMMENTS VALUE "CompanyName", MY_VERSION_COMPANYNAME VALUE "FileDescription",
    MY_VERSION_FILEDESCRIPTION VALUE "FileVersion", MY_VERSION_FILEVERSION VALUE "InternalName",
    MY_VERSION_INTERNALNAME VALUE "LegalCopyright", MY_VERSION_LEGALCOPYRIGHT VALUE "LegalTrademarks",
    MY_VERSION_LEGALTRADEMARKS VALUE "OriginalFilename", MY_VERSION_ORIGINALFILENAME VALUE "PrivateBuild",
    MY_VERSION_PRIVATEBUILD VALUE "ProductName", MY_VERSION_PRODUCTNAME VALUE "ProductVersion",
    MY_VERSION_PRODUCTVERSION VALUE "SpecialBuild",
    MY_VERSION_SPECIALBUILD END END

        BLOCK "VarFileInfo" BEGIN VALUE "Translation",
    0x409, 1200 END END
